.custom-footer{
    margin-top:60px;
    padding:25px;
    text-align:center;

    border-top:2px solid #5EEAD4;

    color:#E5E7EB;

    font-size:15px;
}

.custom-footer strong{
    color:#67E8F9;
}

.custom-footer hr{
    border:none;
    border-top:1px solid #3B82F6;
    margin-bottom:25px;
}
